.list {
  margin-bottom: 25px;

  li {
    display: flex;
    align-items: center;
    line-height: 1;

    padding: 10px 12px;
    margin-bottom: 3px;

    cursor: pointer;

    &.active {
      background: #FFFFFF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }

    &:hover{
      background-color: rgba(255,255,255,.5);
    }

    span{
      display: block;
      overflow: hidden;
      white-space: nowrap;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;

    }
  }

  img,
  .badge{
    margin-right: 9px;
  }

  img {
    opacity: .6;
  }

  &__add-btn{
    opacity: .6;

    &:hover{
      opacity: 1;
    }
  }
}