.list {
  margin-bottom: 25px;

  &__remove-btn{
    opacity: 0;

    &:hover{
      opacity: .6;
    }
  }

  li {
    display: flex;
    align-items: center;
    line-height: 1;
    position: relative;

    padding: 10px 12px;
    margin-bottom: 3px;

    cursor: pointer;

    &.active {
      background: #FFFFFF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }

    &:hover{
      background-color: rgba(255,255,255,.5);

      .list__remove-btn{
        opacity: .4;

        &:hover{
          opacity: .8;
        }
      }
    }
  }

  &__text{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    flex: 1;
  }

  .badge{
    margin-right: 9px;
  }

  &__icon{
    margin-right: 9px;
    opacity: .6;
  }

  &__add-btn{
    opacity: .6;

    &:hover{
      opacity: 1;
    }
  }
}