.tasks{
  margin-bottom: 40px;

  &:last-child{
    margin-bottom: 0;
  }

  &__title{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    width: 100%;
    align-items: center;

    color: #64C4ED;
    padding-bottom: 20px;
    border-bottom: 1px solid #F2F2F2;

    &:hover{
      .tasks__edit-title{
        opacity: .2;

        &:hover{
          opacity: .6;
        }

      }
    }
  }

  &__empty{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #C9D1D3;

    margin: 50px 0;
  }

  &__edit-title{
    margin-left: 15px;
    opacity: 0;
    cursor: pointer;
  }

  &__items{
    padding-top: 30px;
  }

  &__item{
    display: flex;
    margin-bottom: 21px;
    align-items: center;
  }

  &__item-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    flex: 1;
    color: #000000;

    input{
      background-color: transparent;
      border: 0;
      font: inherit;
      width: 100%;
      flex: 1;
    }
  }

  &__form{
    margin-top: 20px;
    *{
      font-size: 14px;
    }

    .field{
      min-height: 38px;
      padding-left: 15px;
    }
  }

  &__form-new{
    color: #B4B4B4;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;

    img{
      margin-right: 19px;
      opacity: .3;
      width: 16px;
      margin-left: 2px;
    }

    &:hover{
      color: #838383;

      img{
        opacity: .5;
      }
    }
  }

  &__button-wrp{
    margin-top: 16px;

    button{
      margin-right: 10px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

}

.checkbox{
  margin-right: 15px;


  &__hidden{
    display: none;

    &:checked + .checkbox__label{
      border-color: #4DD599;
      background-color: #4DD599;

      svg path{
        stroke: white;
      }
    }
  }

  &__label{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #E8E8E8;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;

    svg path{
      stroke: transparent;
    }

    &:hover{
      background-color: #E8E8E8;
      svg path{
        stroke: #b3b3b3;
      }
    }
  }

}