*{
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0;
  font-family:'Roboto', -apple-system, system-ui, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo{
  width: 750px;
  height: 530px;
  border: 1px solid #f1f1f1;
  font-size: 14px;

  display: flex;

  &__sidebar{
    background-color: #F4F6F8;
    width: 201px;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    padding: 50px 20px;
  }

  &__tasks{
    padding: 55px;
    flex: 1;

    overflow: auto;
  }

  &__hamburger{
    display: none;
  }
}

.field{

  width: 100%;
  height: 32px;

  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px 10px;
  color: #9e9e9e;

  &::placeholder{
    color: #C7C7C7;
  }

  &:focus{
    border-color: #9e9e9e;
  }
}

.button{

  height: 37px;

  background: #4DD599;
  border: 0;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;

  &:hover{
    background: #3faf7e;
  }

  &:active{
    background: #44bf89;
  }

  &--gray{
    background: #F4F6F8;
    color: #9C9C9C;

    &:hover{
      background: #eff1f3;
    }

    &:active{
      background: #eaecee;
    }
  }
}

@media screen and (max-width: 991px){
  .todo {
    width: 100vw;
    height: 100vh;
  }
}

@media screen and (max-width: 767px){
  .todo{
    overflow: hidden;
    border: 0;

    &__tasks{
      width: calc(100vw - 55px);
      position: relative;
      transition: width .3s;

      padding: 20px;
    }

    &__hamburger{
      display: block;
      width: 25px;
      cursor: pointer;
      margin-bottom: 30px;
    }

    &.isOpened{
      .todo{
        &__sidebar{
          width: 300px;

          .list{
            display: block;
          }
        }

        &__tasks{
          overflow: hidden;
          position: relative;
          min-width: calc(100vw - 50px);

          &:before{
            content: '';
            display: block;
            position: absolute;
            background: rgba(0,0,0, .5);
            left: 0;
            top: 0;
            height: 100%;

            width: 100%;
          }
        }
      }

    }

    &__sidebar{
      border: 0;
      position: relative;
      width: 55px;
      padding: 30px 15px;
      transition: width .3s;
      overflow-y: auto;
      flex-shrink: 0;

      .list{
        display: none;
      }

    }

  }
}